:root {
    --primary-color: #131B23;
    --secondary-color: #816C61;
    --accent-color: #E7DFC6;
    --text-color: #333;
    --background-color: #f8f9fa;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

header img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end; /* Align the nav items to the right */
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    position: relative;
    text-align: center;
    height: 400px;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 2em;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 60%;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero article img {
    float: right;
    width: 80px;
    border-radius: 50%;
    margin-left: 15px;
}

.history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.history .item {
    background-color: #f4f4f4;
    padding: 20px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    gap: 15px;
}

.adventures figure {
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
}

section {
    margin: 40px 0;
}

h2 {
    color: var(--primary-color);
}

section img {
    width: 18%;
    margin: 10px;
    border-radius: 5px;
}

footer {
    background: var(--accent-color);
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer p {
    margin: 10px 0;
}

footer img {
    width: 40px;
    height: 40px;
}

.sociallinks a {
    text-decoration: none;
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.sociallinks a:hover img {
    transform: scale(1.1);
}
